<!doctype html>
<html lang="en" ng-app="RaynorApp">
<head>
    <meta charset="windows-1251">
    <title>My HTML File</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body ng-controller="RaynorCont">
<h1>{{title}}</h1>

<input type="text" ng-model="query">
<ul>
    <li ng-repeat="phone in filterFun=(phones | filter:doneAddFilter)">
        <span>{{phone.name}}</span>
        <p>
            {{phone.snippet}}<br/>
            {{phone.status}}<br/>
            {{phone.priority}}
        </p>
    </li>
</ul>

Количество телефонов: {{filterFun.length}}

<hr>

<ul>
    <li ng-repeat="i in [0,1,2,3,4,5,6,7] | limitTo:5">
        <span>{{i+1}}</span>
    </li>
</ul>

{{ formatDate(today, 'dd.MM.yyy') }}

{{'ОченьБольшаяСтрока' | limitTo:10 | lowercase}}

<hr>

<table>
    <thead>
    <th><a href="" ng-click="sort('name')"><i class="glyphicon" ng-class="{'glyphicon-chevron-up': isSortUp('name'), 'glyphicon-chevron-down': isSortDown('name')}"></i> name</a></th>
    </thead>
    <tr ng-repeat="phone in phones | orderBy:sortField:reverse">
        <td>
            {{phone.name}}
        </td>
    </tr>
</table>

</body>
</html>
